<% if notes.empty? %>
  <aside>
    <h3>まだNoteがありません💡</h3>

    <p><sup>Getting Started</sup></p>
    <p>右上のボタンをクリックして新しいメモをつくりましょう🎉</p>
  </aside>

<% else %>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% notes.each do |note| %>
        <tr>
          <td>
            <a href="/<%= note.id %>"><%= h note.title %></a>
          </td>
          <td>
            <%= edit_button(note) %>
            <%= destroy_button(note) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
