<% if notes.empty? %>
  <aside>
    <h3>まだNoteがありません💡</h3>

    <p><sup>Getting Started</sup></p>
    <p>右上のボタンをクリックして新しいメモをつくりましょう🎉</p>
  </aside>

<% else %>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% notes.each do |note| %>
        <tr>
          <td>
            <a href="/<%= note.id %>"><%= note.title %></a>
          </td>
          <td>
            <a href="/<%= note.id %>/edit"><i>Edit</i></a>
            <form action="/<%= note.id %>" method="post" class="delete-action">
              <input type="hidden" name="_method" value="delete">

              <input type="submit" value="Delete">
            </form>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
